<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SR.smartreceipt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.SR.processes.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.SR.smartreceipt.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.SR.smartreceipt.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.SR.smartreceipt.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.SR.smartreceipt.MainActivity" />
        </activity>
        <activity
            android:name="com.SR.smartreceipt.BudgetListActivity"
            android:label="@string/title_activity_budget"
            android:parentActivityName="com.SR.smartreceipt.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.SR.smartreceipt.MainActivity" />
        </activity>
        <activity
            android:name="com.SR.smartreceipt.AddBudgetActivity"
            android:label="@string/title_activity_budget"
            android:parentActivityName="com.SR.smartreceipt.BudgetListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.SR.smartreceipt.BudgetListActivity" />
        </activity>
        <activity
            android:name="com.SR.smartreceipt.AddFamilyMemberActivity"
            android:label="@string/title_activity_add_family"
            android:parentActivityName="com.SR.smartreceipt.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.SR.smartreceipt.MainActivity" />
        </activity>
        <activity
            android:name="com.SR.smartreceipt.SaveActivity"
            android:label="@string/title_activity_save"
            android:parentActivityName="com.SR.smartreceipt.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.SR.smartreceipt.MainActivity" />
        </activity>

        <service
            android:name="com.SR.processes.BudgetNotificationIntentService"
            android:enabled="true"
            android:exported="true"
            android:label="BudgetNotificationIntentService" />

        <activity
            android:name="com.SR.smartreceipt.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.SR.smartreceipt.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.SR.smartreceipt.MainActivity" />
        </activity>
        <activity
            android:name="com.SR.smartreceipt.SearchResultsActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.SR.smartreceipt.SearchActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.SR.smartreceipt.SearchActivity" />
        </activity>
        <activity
            android:name="com.SR.smartreceipt.ChartActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.SR.smartreceipt.SearchResultsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.SR.smartreceipt.SearchResultsActivity" />
        </activity>
    </application>

</manifest>